@import url('http://fonts.googleapis.com/css?family=Alegreya:400,400italic|Lato:400,700');

.white
  font-family 'Alegreya', serif
  font-size 23px

  header
    font-size 42px
    font-weight bold
    font-family 'Roboto', 'Helvetica Neue', sans-serif

  blockquote
    color #666

  h1
    font-size 28px
    font-family 'Roboto', 'Helvetica Neue', sans-serif

  h2
    font-size 24px
    font-weight normal
    font-family 'Roboto', 'Helvetica Neue', sans-serif

  u
    text-shadow -1px 0px 0 #FFF, 1px 0px 0 #FFF, 0 -2px 0 #FFF, 0 -3px 0 #FFF
    text-decoration none
    background linear-gradient(0deg, white, white 5px, black 5px, black, white 6px)

  section u
    background none
    text-decoration underline
    text-shadow none

  a
    color #00BFFF
    text-decoration none
    border-radius 3px
    transition background 0.5s ease-in-out

    &:hover
      text-decoration none
      background rgb(240, 240, 240)

  img
    max-width 100%
    height auto
    display block



