.white
  width 100%
  margin 20px auto 0

  header
    height 40px
    padding 10px 0

  [contentEditable]:focus
    outline 0px solid transparent

  blockquote
    border-left solid 4px #00BFFF
    margin-left -24px
    margin-right 0
    padding-left 20px

  ul, ol
    padding-left 4px

  @media (min-width: 640px)
    width 640px
