.white
  width 100%
  margin 20px auto 0

  *
    box-sizing border-box

  header
    padding 10px 0

    .placeholder
      color #CCC
      position absolute
      transition opacity 0.25s ease-out
      opacity 0

      &.show
        opacity 1

    .content
      z-index 999
      min-height 1em

  [contentEditable]:focus
    outline 0px solid transparent

  blockquote
    border-left solid 4px #00BFFF
    margin-left 0
    padding-left 20px

  ul, ol
    padding-left 30px

  @media (min-width: 640px)
    width 640px
