.white
  width 640px
  margin 20px auto 0

  header
    padding 10px 0

    .placeholder
      color #CCC
      position absolute
      transition opacity 0.25s ease-out
      opacity 0

      &.show
        opacity 1

    .content
      z-index 999
      min-height 1em

  [contentEditable]:focus
    outline 0px solid transparent

  p
    padding 0
    margin 0 0 20px

  blockquote
    border-left solid 4px #00BFFF
    padding-left 20px
    margin 0
    margin-top 5px
    margin-bottom 25px

  h1, h2 
    margin 0 0 5px

  ul, ol
    padding-left 30px
