popup-color = rgba(0, 0, 0, 0.9)
popup-shadow = 0 1px 5px black 
popup-icon-color = rgba(255,255,255, 0.9)
popup-icon-color-active = #69f
popup-item-size = 30px
popup-padding = 5px

popup-size(item-count, group-count=3, item-size=popup-item-size, $padding=popup-padding)
  padding unit($padding, px)
  height unit(($padding * 2 + item-size), px)
  width unit(($padding * 2 + item-size * item-count + group-count - 1), px)
  margin-left unit(-($padding * 2 + item-size * item-count + group-count - 1)/2, px)

group-size(item-count, right=1)
  width unit((item-count * popup-item-size + right), px)

.white-popup
  position absolute
  transition opacity 150ms ease-in, padding-top 100ms ease-out
  opacity 1

  top -999px
  left -999px
  padding-top 0
  z-index 9999

  box-sizing border-box

  *
    box-sizing border-box

  &.hidden
    opacity 0
    padding-top 10px
    
    .options 
      transition none
      .group
        transition none

  .options
    background popup-color
    border-radius 4px
    overflow hidden
    popup-size(7)
    box-shadow popup-shadow
    transition width 0.25s ease-in-out, margin-left 0.25s ease-in-out
    white-space no-wrap
    
    &:before
      content ""
      position absolute

      height 5px
      width 0px
      bottom -15px
      left -5px

      border-width 5px
      border-style solid
      border-color popup-color transparent transparent

    &>div
      group-size(10)
      height popup-item-size

    .group
      display block
      float left
      overflow hidden
      white-space: nowrap
      transition width 150ms ease-out, opacity 150ms ease-out, border-color 150ms ease-out
      height popup-item-size

      &.group-link, &.group-style
        border-right 1px solid rgba(100, 100, 100, 0.4)

      &.group-link
        group-size(1)

        input
          float left
          border none
          border-radius 2px
          group-size(7, 0)
          height popup-item-size
          font-size 18px

      &.group-link>div
        group-size(9)
      &.group-style>div
        group-size(3)
      &.group-type>div
        group-size(3, 0)
        
      &.group-style
        group-size(3)

      &.group-type
        group-size(3, 0)


    button
      background-color transparent
      font-family 'Alegreya', serif
      font-weight normal
      border none
      display block
      float left
      width popup-item-size
      height popup-item-size
      
      &.active .icon
        fill popup-icon-color-active

      .icon
        fill popup-icon-color
        width 20px
        height 20px
        margin 5px 0

    &.status-header
      popup-size(3)
      .group.group-link, .group.group-style
        width 0
        opacity 0

    &.status-link
      popup-size(9)
      .group.group-link
        group-size(9)
        border-color transparent
      .group.group-style, .group.group-type
          width 0
          opacity 0

