popup-color = rgba(0, 0, 0, 0.9)
popup-shadow = 0 1px 5px black 
popup-icon-color = rgba(255,255,255, 0.9)
popup-icon-color-active = #69f
popup-item-size = 30px
popup-padding = 5px

popup-size(item-count, item-size=popup-item-size, $padding=popup-padding)
  padding unit($padding, px)
  height unit(($padding * 2 + item-size), px)
  width unit(($padding * 2 + item-size * item-count), px)
  margin-left unit(-($padding * 2 + item-size * item-count)/2, px)

.white-popup
  position absolute
  transition opacity 150ms ease-in, padding-top 100ms ease-out
  opacity 1

  top -999px
  left -999px
  padding-top 0

  box-sizing border-box
  *
    box-sizing border-box

  &.hidden
    opacity 0
    padding-top 10px

  .options
    background popup-color
    border-radius 4px
    overflow hidden
    transition width 0.25s ease-in-out, margin-left 0.25s ease-in-out
    popup-size(7)
    box-shadow popup-shadow

    &:before
      content ""
      position absolute

      height 5px
      width 0px
      bottom -15px
      left -5px

      border-width 5px
      border-style solid
      border-color popup-color transparent transparent

    button
      background-color transparent
      font-family 'Alegreya', serif
      font-weight normal
      border none
      display block
      float left
      width 30px
      height 30px
      
      &.link, &.underline
        border-right 1px solid #444

      &.active .icon
        fill popup-icon-color-active

      .icon
        fill popup-icon-color
        width 20px
        height 20px
        margin 5px 0
